<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gradebook</title>
  {% load staticfiles %}

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/auth_pages.css' %}"/>

  <link rel="stylesheet" type="text/css" href="{% static 'css/models_view.css' %}"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
<div class="container">
  <nav>
    <div class="nav-wrapper">
      <a href="{% url 'section_list' %}" class="brand-logo" style="padding-left: 5px;">
        {{ request.user.last_name }}, {{ request.user.first_name }} [{{ request.user }}]
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'section_list' %}">Sections</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{% url 'section_list' %}">Sections</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
<script type="text/javascript"> // This loads on every single page. Kinda a waste, but it's fine for this simple project.
$(document).ready(function () {
  $(".button-collapse").sideNav();
  $('select').material_select();
  $("#id_date_time_created, #id_date_time_due").pickadate({
    format: 'yyyy-mm-dd',
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
//    document.getElementById('id_date_created').value.length += "22:53:05"
});
</script>
</body>
</html>