<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  {% load staticfiles %}

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'gradebook/css/materialize.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'gradebook/css/auth_pages.css' %}"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div id="container" style="margin: 0 auto;">
  <div class="row">
    <form class="col s8 m6 offset-m4" method="POST">
      <div class="row">
        <div class="col s8"><h3 class="header">Teacher Portal</h3></div>
      </div>
      <div class="row">
        <div class="col s6">
          {{ form.username.errors }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          {{ form.username }}
          <label for="username">Username</label>
        </div>
      </div>
      {% if form.password.errors %}
      <div class="row">
        <div class="col s6">
          {{ form.password.errors }}
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="input-field col s8">
          {{ form.password }}
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <button class="btn waves-effect waves-light btn" type="submit" name="action">
            Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>

</div>

<!-- scripts -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<!-- end scripts -->

</body>
</html>