<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<ol>
{% for assignment in assignment_list %}
<li>
  {{ assignment }}
</li>
<a href="{% url 'assignment_new' assignment.section.course.id assignment.section.id %}">Create an assignment</a>
{% endfor %}
</ol>

<!-- Hacky way that wouldn't work if there any of the arguments (crs, sec) required are double-digit. -->
{{ request.path }}<br />
{{ request.path.5 }}
{{ request.path.7 }}

<a href="{% url 'assignment_new' request.path.5 request.path.7 %}">Create an assignment!!</a>
<li>{{ request.kwargs }}</li>


</body>
</html>