{% extends 'generic_view.html' %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <h6>Are you sure you want to drop {{ object.student }} from {{ object.section }}?</h6>
  <button class="btn waves-effect waves-light btn" type="submit" name="action">
    Submit
    <i class="material-icons right">done</i>
  </button>
  <a href="{% url 'section' object.section.pk %}">
    <button class="btn waves-effect waves-light btn red" name="back">
      Back
      <i class="material-icons right">thumb_down</i>
    </button>
  </a>
</form>
{% endblock %}