{% extends 'generic_view.html' %}

{% block content %}

<h5>Viewing: {{ enrollment.student }}</h5>
<a href="{% url 'section' current_section_pk %}">
  <button class="btn waves-effect waves-light red" type="button">Back
  </button>
</a>

<div class="row">
  <div class="col s3">
    <table class="highlight responsive-table">
      <thead>
      <tr>
        <th data-field="grade">Category</th>
        <th data-field="percentage">%</th>
      </tr>
      </thead>

      <tbody>
      {% for category, percentage in info_by_category %}
      <tr>
        <td>{{ category }}</td>
        <td>{{ percentage }}</td>
      </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>

  <div class="col s9">
    <table class="highlight responsive-table">
      <thead>
      <tr>
        <th data-field="category">Category</th>
        <th data-field="title">Title</th>
        <th data-field="date_time_created">Grade</th>
        <th data-field="points">Points</th>
        <th data-field="total_points">Total Points</th>
        <th data-field="percentage_grade">%</th>
      </tr>
      </thead>

      <tbody>
      <tr bgcolor="#EFEFEF">
        <td></td>
        <td>Total</td>
        <td>{{ final_letter_grade }}</td>
        <td>{{ points_earned }}</td>
        <td>{{ points_possible }}</td>
        <td>{{ total_grade_percentage }}</td>
        <td></td>
      </tr>

      {% for assignment in non_graded_assignments %}
      <tr>
        <td>{{ assignment.get_assignment_category }}</td>
        <td>{{ assignment.title }}</td>
        <td>N</td>
        <td>0</td>
        <td>{{ assignment.points_possible }}</td>
        <td></td>
        <td class="table-with-buttons">
          <a href="{% url 'grade_new' current_section_pk enrollment.pk %}">
            <button class="btn waves-effect waves-light btn" style="width: 100%;" type="submit" name="action">
              Grade
            </button>
          </a>
        </td>
      </tr>
      {% endfor %}

      {% for grade in grade_list %}
      <tr>
        <td>{{ grade.assignment.get_assignment_category }}</td>
        <td>{{ grade.assignment.title }}</td>
        <td>{{ grade.get_grade }}</td>
        <td>{{ grade.points }}</td>
        <td>{{ grade.assignment.points_possible }}</td>
        <td>{{ grade.get_percent_grade }}</td>
        <td class="table-with-buttons">
          <a href="{% url 'grade_edit' current_section_pk grade.enrollment.pk grade.pk %}">
            <button class="btn waves-effect waves-light btn amber darken-3" type="submit" name="action">
              Edit
            </button>
          </a>
          <a href="{% url 'grade_delete' current_section_pk grade.enrollment.pk grade.pk %}">
            <button class="btn waves-effect waves-light btn red" type="submit" name="action">
              Delete
            </button>
          </a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'grade_new' current_section_pk enrollment.pk %}">
      <button class="btn waves-effect waves-light btn" style="width: 100%;" type="submit" name="action">
        +
      </button>
    </a>
  </div>


</div>

{% endblock %}