{% extends 'generic_view.html' %}

{% block content %}
{% load staticfiles %}
<p>
<h3>{{ current_section.course.title }}</h3>
<h5>Section ID: {{ current_section.section_id }}</h5>
</p>
<ul class="collapsible" data-collapsible="accordian">
  <li>
    <div class="collapsible-header"><i class="material-icons">library_books</i>
      <h4>Description</h4></div>
    <div class="collapsible-body"><p>{{ current_section.description }}</p></div>
  </li>
</ul>

<ul class="collapsible" data-collapsible="accordian">
  <li>
    <div class="collapsible-header"><i class="material-icons">library_books</i>
      <h4>{{ announcements.count }} Announcements</h4></div>
    <div class="collapsible-body">
      <div style="padding-left: 5px; padding-right: 5px;">
        {% if announcements|length > 0 %}
        <table class="highlight responsive-table">
          <thead>
          <tr>
            <th data-field="headline">Headline</th>
            <th data-field="details">Description</th>
            <th data-field="date_time_created">Date&Time Created</th>
          </tr>
          </thead>

          <tbody>
          {% for announcement in announcements %}
          <tr>
            <td>{{ announcement.headline }}</td>
            <td>{{ announcement.details }}</td>
            <td>{{ announcement.date_time_created }}</td>
            <td class="table-with-buttons">
              <a href="{% url 'announcement_edit' announcement.section.pk announcement.pk %}">
                <button class="btn waves-effect waves-light btn amber darken-3" type="submit" name="action">
                  Edit
                  <i class="material-icons right">send</i>
                </button>
              </a>
            </td>
            <td class="table-with-buttons">
              <a href="{% url 'announcement_delete' announcement.section.pk announcement.pk %}">
                <button class="btn waves-effect waves-light btn red" type="submit" name="action">
                  Delete
                  <i class="material-icons right">send</i>
                </button>
              </a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}

        <a href="{% url 'announcement_new' current_section.pk %}">
          <button class="btn waves-effect waves-light btn" style="width: 100%;" type="submit" name="action">
            +
          </button>
        </a>
      </div>
    </div>
  </li>
</ul>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">library_books</i>
      <h4>{{ assignments.count }} Assignments</h4>
    </div>
    <div class="collapsible-body">
      <div style="padding-left: 5px; padding-right: 5px;">
          {% if assignments|length > 0 %}
        <table class="highlight responsive-table">
          <thead>
          <tr>
            <th data-field="category">Category</th>
            <th data-field="title">Title</th>
            <th data-field="date_time_created">Date&Time Created</th>
            <th data-field="date_time_due">Date&Time Due</th>
          </tr>

          </thead>

          <tbody>
          {% for assignment in assignments %}
          <tr>
            <td>{{ assignment.get_assignment_category }}</td>
            <td>{{ assignment.title }}</td>
            <td>{{ assignment.date_time_created }}</td>
            <td>{{ assignment.date_time_due }}</td>
            <td class="table-with-buttons">
              <a href="{% url 'assignment_edit' assignment.section.pk assignment.pk %}">
                <button class="btn waves-effect waves-light btn amber darken-3" type="submit" name="action">
                  Edit
                </button>
              </a>
              <a href="{% url 'assignment_stats' assignment.section.pk assignment.pk %}">
                <button class="btn waves-effect waves-light btn blue" type="submit" name="action">
                  Stats
                </button>
              </a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}

        <a href="{% url 'assignment_new' current_section.pk %}">
          <button class="btn waves-effect waves-light btn" style="width: 100%;" type="submit" name="action">
            +
          </button>
        </a>
      </div>
    </div>
  </li>
</ul>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">library_books</i>
      <h4>{{ enrollments.count }} Students Enrolled</h4>
    </div>
    <div class="collapsible-body">
      <div style="padding-left: 5px; padding-right: 5px; padding-bottom: 5px;">
        {% if enrollments|length > 0 %}
        <table class="highlight responsive-table">
          <thead>
          <tr>
            <th data-field="student_id">Student ID</th>
            <th data-field="last_name">Last Name</th>
            <th data-field="first_name">First Name</th>
            <th data-field="grade">Grade</th>
          </tr>
          </thead>

          <tbody>
          {% for enrolled, grade, needs_grading in enrollments_and_grades %}
          {% if needs_grading %}
          <tr bgcolor="#ffebee">
            {% else %}
          <tr>
            {% endif %}
            <td>{{ enrolled.student.student_id }}</td>
            <td>{{ enrolled.student.user.last_name }}</td>
            <td>{{ enrolled.student.user.first_name }}</td>
            {% if assignments|length == 0%}
            <td>NO ASSIGNMENTS</td>
            {% else %}
            <td>{{ grade }}</td>

            {% endif %}
            <td class="table-with-buttons">
              {% if not needs_grading %}
              <a href="{% url 'grade_list' enrolled.section.pk enrolled.pk %}">
                <button class="btn waves-effect waves-light btn light-blue darken-3" type="submit" name="action">
                  Grades
                </button>
              </a>
              {% else %}
              <a href="{% url 'grade_list' enrolled.section.pk enrolled.pk %}">
                <button class="btn waves-effect waves-light btn orange" type="submit" name="action">
                  Needs Grading
                </button>
              </a>
              {% endif %}
              <a href="{% url 'enrollment_delete' enrolled.section.pk enrolled.pk %}">
                <button class="btn waves-effect waves-light btn red" type="submit" name="action">
                  Drop
                </button>
              </a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}

        <a href="{% url 'enrollment_new' current_section.pk %}">
          <button class="btn waves-effect waves-light btn" style="width: 100%;" type="submit" name="action">
            +
          </button>
        </a>

      </div>
    </div>
  </li>
</ul>

<div class="row">
  <div class="col s6">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">library_books</i>
          <h4>Summary of Grades</h4>
        </div>
        <div class="collapsible-body">
          <div style="padding-left: 5px; padding-right: 5px; padding-bottom: 5px;">
            <table class="highlight responsive-table">
              <thead>
              <tr>
                <th data-field="letter_grade">Letter Grade</th>
                <th data-field="count">Count</th>
              </tr>
              </thead>

              <tbody>
              {% for letter_grade, grade in grade_summary %}
              <tr>
                <td>{{ letter_grade }}</td>
                <td>{{ grade }}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="col s6">
    <div id="chart"></div>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {

      columnColors = ['#ffab40', '#00b0ff', '00e676', '#bcaaa4', '#616161'];

      function setColumnBarColors(colors, chartContainer) {

        $('#' + chartContainer + ' .c3-chart-bars .c3-shape').each(function (index) {
          this.style.cssText += 'fill: ' + colors[index] + ' !important; stroke: ' + colors[index] + '; !important';
        });

        $('#' + chartContainer + ' .c3-chart-texts .c3-text').each(function (index) {
          this.style.cssText += 'fill: ' + colors[index] + ' !important;';
        });
      }

      // Because of my IDE's interaction with Django templating and javascript
      // I set the variables to the string version of my data.
      // This makes editing less of a pain (the double curly brackets mess up the IDE's
      // indenting features.
      var a = +"{{ grade_summary.0.1 }}";
      var b = +"{{ grade_summary.1.1 }}";
      var c = +"{{ grade_summary.2.1 }}";
      var d = +"{{ grade_summary.3.1 }}";
      var f = +"{{ grade_summary.4.1 }}";
      var chart = c3.generate({
        bindto: '#chart',
        data: {
          columns: [
            ['', a, b, c, d, f]
          ],
          type: 'bar',
          labels: {
            format: {
              x: 'categorized'
            }
          },
          types: {
            grades: 'bar'
          }
        },
        axis: {
          x: {
            tick: {
              values: [0, 1, 2, 3, 4]
            },
            type: 'category',
            categories: ['A', 'B', 'C', 'D', 'F']
          },
          y: {
            min: 1,
            max: 10
          }
        },
        legend: {
          show: false
        }
      });

      setColumnBarColors(columnColors, 'chart');

    });
  </script>
</div>

{% endblock %}