{% extends 'generic_view.html' %}

{% block content %}
<p>
<h3>{{ current_section.course.title }}</h3>
<h5>Section ID: {{ current_section.section_id }}</h5>
</p>
<ul class="collapsible" data-collapsible="accordian">
  <li>
    <div class="collapsible-header"><i class="material-icons">library_books</i>
      <h4>Description</h4></div>
    <div class="collapsible-body"><p>{{ current_section.description }}</p></div>
  </li>
</ul>

<ul class="collapsible" data-collapsible="accordian">
  <li>
    <div class="collapsible-header"><i class="material-icons">library_books</i>
      <h4>{{ announcements.count }} Announcements</h4></div>
    <div class="collapsible-body">
      {% for announcement in announcements %}
      <div class="announcement_header">{{ announcement.title }}</div>
      <div class="announcement_desc">{{ announcement.details }}</div>
      {% endfor %}
    </div>
  </li>
</ul>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">library_books</i>
      <h4>{{ assignments.count }} Assignments</h4>
    </div>
    <div class="collapsible-body">
      <div style="padding-left: 5px; padding-right: 5px;">
        <table class="highlight responsive-table">
          <thead>
          <tr>
            <th data-field="category">Category</th>
            <th data-field="title">Title</th>
            <th data-field="date_time_created">Date&Time Created</th>
            <th data-field="date_time_due">Date&Time Due</th>
          </tr>
          </thead>

          <tbody>
          {% for assignment in assignments %}
          <tr>
            <td>{{ assignment.get_assignment_category }}</td>
            <td>{{ assignment.title }}</td>
            <td>{{ assignment.date_time_created }}</td>
            <td>{{ assignment.date_time_due }}</td>
            <td class="table-with-buttons">
              <a href="{% url 'assignment_edit' assignment.section.pk assignment.pk %}">
                <button class="btn waves-effect waves-light btn" type="submit" name="action">
                  Edit
                  <i class="material-icons right">send</i>
                </button>
              </a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>

        <a href="{% url 'assignment_new' current_section.pk %}">
          <button class="btn waves-effect waves-light btn" style="width: 100%;" type="submit" name="action">
            +
          </button>
        </a>
      </div>
    </div>
  </li>
</ul>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">library_books</i>
      <h4>{{ enrollments.count }} Students Enrolled</h4>
    </div>
    <div class="collapsible-body">
      <div style="padding-left: 5px; padding-right: 5px; padding-bottom: 5px;">
        <table class="highlight responsive-table">
          <thead>
          <tr>
            <th data-field="student_id">Student ID</th>
            <th data-field="last_name">Last Name</th>
            <th data-field="first_name">First Name</th>
          </tr>
          </thead>

          <tbody>
          {% for enrolled in enrollments %}
          <tr>
            <td>{{ enrolled.student.student_id }}</td>
            <td>{{ enrolled.student.user.last_name }}</td>
            <td>{{ enrolled.student.user.first_name }}</td>
            <td class="table-with-buttons">
              <a href="{% url 'grade_list' enrolled.section.pk enrolled.pk %}">
                <button class="btn waves-effect waves-light btn" type="submit" name="action">
                  Grades
                </button>
              </a>
              <a href="{% url 'enrollment_delete' enrolled.section.pk enrolled.pk %}">
                <button class="btn waves-effect waves-light btn red" type="submit" name="action">
                  Drop
                </button>
              </a>
            </td>
          </tr>

          {% endfor %}

          </tbody>
        </table>

        <a href="{% url 'enrollment_new' current_section.pk %}">
          <button class="btn waves-effect waves-light btn" style="width: 100%;" type="submit" name="action">
            +
          </button>
        </a>

      </div>
    </div>
  </li>
</ul>
{% endblock %}